<div class="project-item" data-project-id="<%= project.id %>">
  <a href="<%= '#/workspaces/' + workspaceId + '/project/' + project.id %>">
    <%= project.escape('title') %></a>
  <!-- <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> -->
</div>
