
<h1 class="main-title"><a href="#">tmUp</a><br></h1>
<h3><%= "Hello " + current_user.fname %></h3>
<%= button_to "Sign Out", session_url, :method => :delete, :class => "btn btn-primary" %>

<div id="navbar"></div>
<div id="main"></div>

<script>
  // boot the app when the document is ready
  $(function () {
    TmUp.CURRENT_USER = {
      initials: "<%= current_user.fname[0].upcase + current_user.lname[0].upcase %>"
    };
    TmUp.initialize();
  });
</script>
