
<div id="navbar"></div>
<div id="main"></div>

<script>
  // boot the app when the document is ready
  $(function () {
    TmUp.CURRENT_USER = {
      initials: "<%= current_user.fname[0].upcase + current_user.lname[0].upcase %>"
    };
    TmUp.initialize();
  });
</script>
