<div class="team-index-item" data-project-id="<%= team_member.id %>">
  <a href="#"><%= team_member.escape('fname')[0].toUpperCase() +
                  team_member.escape('lname')[0].toUpperCase() %></a>
</div>
