<div class="log-in-out-background">
  <%= image_tag 'workspace1-edited.jpg' %>
</div>

<div class="log-in-out m-content">
  <header class="heading">
    <strong>Sign In</strong>
  </header>

  <% if flash[:errors] %>
    <div class="login alert alert-danger" role="alert">
      <%= flash[:errors].join("<br>").html_safe %>
    </div>
  <% end %>

  <form class="form-horizontal" action="/session" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div class="form-group">
      <label for="email-input" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-9">
        <input type="text" name="user[email]" class="form-control" id="email-input">
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-9">
        <input type="password" name="user[password]" class="form-control" id="password">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <input type="submit" value="Sign In" class="btn btn-default login-button">
        <input type="submit" value="Guest Sign In" class="btn btn-default guest-login">
      </div>
    </div>

    <div>Don't have an account? <a href="<%= new_user_url %>">Sign Up</a></div>
  </form>

</div>

<script>
  $(document).ready(function(){
    Guest.initialize();
  });
</script>
