<div class="m-background"></div>

<div class="m-content about">
  <header class="heading">
    <strong>About TmUp </strong><button class="close">&times;</button>
  </header>

  <div class="about-me-container">
    <p>
      <strong>TmUp</strong> is a <strong>full stack</strong> project management web application
      built using <strong>Rails and Backbone</strong>. The site was inspired by
      Asana. It offers collaborative workspace, allowing multiple users to share
      projects and tasks among themselves.
    </p>

    <p>
      TmUp was designed by
        <a href="https://www.linkedin.com/in/varunpatel"><strong>Varun Patel</strong></a>
      for his capstone project at
      <a href="http://www.appacademy.io/#p-home"><strong>App Academy</strong></a>.
      If you are interested in contacting him, please email him directly at
      <strong><a href="mailto:patelv1991@gmail.com">patelv1991@gmail.com</a></strong>.
    </p>

    <p>
      Check out TmUp source code on
      <strong><a href="https://github.com/patelv1991/tmup">Github</a></strong>.
    </p>
  </div>
</div>
