// Place all the styles related to the api/tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


td > div.dropdown > button {
  border-radius: 50%;
  padding: 8px;
  border: none;
  opacity: 0.8;
  color: white;
}

tbody.tasks > tr > td:nth-child(2) {
  padding: 0px;
}

tbody.tasks > tr > td.task-calendar {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 120px;
}

tbody.tasks > tr > td.task-calendar > div.date {
  width: 90px;
  border: 0px;
}

tbody.tasks > tr > td.task-calendar > div.date > input.date-input {
  border: none;
  background-color: transparent;
  padding: 0px;
  padding-left: 2px;
}

tbody.tasks > tr > td.task-calendar > div.date span {
  border: none;
  background-color: transparent;
  padding-left: 0px
}

.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.active {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

tbody.tasks > tr td > div.dropdown ul li a {
  width: 150px;
  height: 30px;
  padding-left: 15px;
  padding-top: 5px;
}

tbody.tasks > tr td > div.dropdown ul {
  height: auto;
  max-height: 350px;
  overflow-x: hidden;
  text-transform: capitalize;
}

// formating overall tasks container

div#tasks-index-container {
  max-width: 1250px;
  position: relative;
  top: -10px;
  left: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

div#page-content-wrapper > div.sidebar-toggled {
  max-width: 1000px;
  position: relative;
  top: -10px;
  left: 5px;
}

div#tasks-index-container header strong {
  float: left;
}

div#tasks-index-container header div {
  float: right;
}
