// Place all the styles related to the api/tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// tasks header
div#tasks-index-container > div > header > strong {
  font-size: 30px;
  padding-bottom: 15px;
  font-weight: lighter;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: inherit;
  max-width: 65%;
}

div#tasks-index-container > div > header div.button-space {
  margin: 12px 5px;
}

td > div.dropdown > button {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  border: none;
  opacity: 0.8;
  color: white;
}

tbody.tasks > tr > td:nth-child(2) {
  padding: 0px;
}

tbody.tasks > tr > td.task-calendar {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 125px;
}

tbody.tasks > tr > td.task-calendar > div.date {
  width: 115px;
  border: 0px;
}

tbody.tasks > tr > td.task-calendar > div.date > input.date-input {
  border: none;
  background-color: transparent;
  padding: 0px;
}

tbody.tasks > tr > td.task-calendar > div.date > input.date-input.past-due {
  color: red;
}

//
// tbody.tasks > tr > td.task-calendar > div.date > input.date-input:hover {
//   border: 1px blue solid;
// }

tbody.tasks > tr > td.task-calendar > div.date span {
  border: none;
  background-color: transparent;
  padding-left: 6px
}

.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.active {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

tbody.tasks > tr td > div.dropdown ul li a {
  width: 150px;
  height: 30px;
  padding-left: 15px;
  padding-top: 5px;
}

tbody.tasks > tr td > div.dropdown ul {
  height: auto;
  max-height: 350px;
  overflow-x: hidden;
  text-transform: capitalize;
}

// formating overall tasks container
div#tasks-index-container {
  border: #fff solid 1px;
  border-radius: 5px;
  padding: 5px;
  // max-width: 1250px;
  position: relative;
  top: -10px;
  left: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
div.sidebar-toggled > div#tasks-index-container {
  // max-width: 1000px;
  position: relative;
  top: -10px;
  left: 5px;
}


// div#page-content-wrapper > div.sidebar-toggled {
//   max-width: 1000px;
//   position: relative;
//   top: -10px;
//   left: 5px;
// }

// div#page-content-wrapper > div {
//   max-width: 1250px;
//   position: relative;
//   top: -10px;
//   left: 5px;
//   -webkit-transition: all 0.5s ease;
//   -moz-transition: all 0.5s ease;
//   -o-transition: all 0.5s ease;
//   transition: all 0.5s ease;
// }


div#tasks-index-container header strong {
  float: left;
}

div#tasks-index-container header div {
  float: right;
}

// setting table column width
table > thead > tr > th.status {
  width: 45px;
}

table > thead > tr > th.assignee {
  width: 51px;
}

table > thead > tr > th.due-date {
  width: 125px;
}

table > thead > tr > th.task-title {
  width: auto;
}

table > thead > tr > th.project-title {
  width: 100px;
}

table tbody tr td:nth-child(5) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-width: 150px;
  cursor: pointer;
}

table > thead > tr > th.delete-task {
  width: 45px;
}

table tbody tr td:nth-child(4):hover,
table tbody tr td:nth-child(6):hover {
  cursor: pointer;
}

h3 > a.new-task,
h3 > a.new-task:hover {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  font-size: 20px;
}

// new task form
td.task-title > div.container {
  width: auto;
  padding: 0px;
}

td.task-title div.task-title-container.hiding,
td.task-title > div.container.hiding {
  display: none;
}

td.task-title > div.container > form > div.add-on {
  width: 100%;
}

table tbody tr td.task-title > div.container form div div.input-group-btn {
  width: 40px;
}

td.task-title > div.container > form > div.add-on button,
td.task-title > div.container > form > div.add-on > input {
  border: none;
  background-color: transparent;
  height: 39px;
}

td.task-title > div.container > form > div.add-on button {
  font-size: 20px;
}

table tbody.tasks tr td.new-task-cell {
  padding: 0px;
  vertical-align: top;
}

.table > tbody tr td.currently-being-edited {
  padding: 0px;
}

.table > tbody tr td.task-title {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

td.task-title div.task-title-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
