// Place all the styles related to the api/tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


td > div.dropdown > button {
  border-radius: 50%;
  padding: 8px;
  border: none;
  opacity: 0.8;
  color: white;
}

tbody.tasks > tr > td:nth-child(2) {
  padding: 0px;
}

tbody.tasks > tr > td.task-calendar {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 125px;
}

tbody.tasks > tr > td.task-calendar > div.date {
  width: 100px;
  border: 0px;
}

tbody.tasks > tr > td.task-calendar > div.date > input.date-input {
  border: none;
  background-color: transparent;
  padding: 0px 5px 0px 5px;
}
//
// tbody.tasks > tr > td.task-calendar > div.date > input.date-input:hover {
//   border: 1px blue solid;
// }

tbody.tasks > tr > td.task-calendar > div.date span {
  border: none;
  background-color: transparent;
  padding-left: 6px
}

.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.active {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

tbody.tasks > tr td > div.dropdown ul li a {
  width: 150px;
  height: 30px;
  padding-left: 15px;
  padding-top: 5px;
}

tbody.tasks > tr td > div.dropdown ul {
  height: auto;
  max-height: 350px;
  overflow-x: hidden;
  text-transform: capitalize;
}

// formating overall tasks container
div#tasks-index-container {
  max-width: 1250px;
  position: relative;
  top: -10px;
  left: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
div.sidebar-toggled > div#tasks-index-container {
  max-width: 1000px;
  position: relative;
  top: -10px;
  left: 5px;
}


// div#page-content-wrapper > div.sidebar-toggled {
//   max-width: 1000px;
//   position: relative;
//   top: -10px;
//   left: 5px;
// }

// div#page-content-wrapper > div {
//   max-width: 1250px;
//   position: relative;
//   top: -10px;
//   left: 5px;
//   -webkit-transition: all 0.5s ease;
//   -moz-transition: all 0.5s ease;
//   -o-transition: all 0.5s ease;
//   transition: all 0.5s ease;
// }


div#tasks-index-container header strong {
  float: left;
}

div#tasks-index-container header div {
  float: right;
}

// setting table column width
table > thead > tr > th.status {
  width: 45px;
}

table > thead > tr > th.assignee {
  width: 51px;
}

table > thead > tr > th.due-date {
  width: 110px;
}

table > thead > tr > th.task-title {
  width: auto;
}

table > thead > tr > th.delete-task {
  width: 45px;
}
