.m-content > table tr > th:first-child {
  padding-left: 13px;
}

// .m-content > table tr:not(.column-names) > {
//   padding-left: 13px;
// }
.m-content > table {
  color: rgb(105, 93, 93);
}
.m-content > table tr td {
  vertical-align: middle;
}

.m-content > .table > tbody > tr > td:first-child {
  padding-left: 13px
}

.m-content .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ECECEC;
}
