// Place all the styles related to the api/workspaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#end-tour {
  position: fixed;
  left: 100%;
  top: 50px;
}
