<div class="search-results-list">
  <% if (users) { %>
    <div class="users">
      varun
    </div>
  <% } %>

  <% if (workspaces) { %>
    <div class="workspaces">

    </div>
  <% } %>

  <% if (projects) { %>
    <div class="projects">

    </div>
  <% } %>

  <% if (tasks) { %>
    <div class="tasks">

    </div>
  <% } %>

</div>
