<header class="heading">
  <strong class="project-header"><%= header %></strong>
  <button type="button" class="btn btn-default btn-xs">Show Completed Tasks</button>
  <button type="button" class="btn btn-default btn-xs">Edit Project</button>
  <button type="button" class="btn btn-danger btn-xs">Delete Project</button>
</header>

<table class="table table-hover">
  <thead>
    <tr class="column-names">
      <th class="status"></th>
      <th class="assignee"></th>
      <th class="due-date"></th>
      <th class="task-title">Title</th>
      <th class="delete-task"></th>
    </tr>
  </thead>

  <tbody class="tasks"></tbody>
</table>
<!--
<ul class="tasks">
</ul> -->
