<header class="heading">
  <strong class="project-header"><%= header %></strong>
  <button type="button" class="btn btn-default btn-xs">Edit</button>
  <button type="button" class="btn btn-danger btn-xs">Delete</button>
</header>

<ul class="tasks">
</ul>
