/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
ul {
  list-style: none;
}
//
// input[type="password"],
// input[type="email"],
// input[type="text"],
// input[type="submit"],
// textarea,
// button {
//   /*
//   Get rid of native styling. Read more here:
//   http://css-tricks.com/almanac/properties/a/appearance/
//   */
//   -webkit-appearance: none;
//   -moz-appearance: none;
// }

body {
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

.dropdown-menu > li > a {
  width: 250px;
  height: 40px;
  padding-left: 30px;
  padding-top: 10px;
  right: 0
}

.container-fluid {
  padding-right: 0
}

// Dropdown Menu
.dropdown-menu .divider {
    margin: 2px 0;
}

// Modals
.m-background {
  background: rgba(92, 88, 88, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5000;
}


.m-content {
  color: #798086;
  z-index: 10000;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -220px;
  min-width: 400px;
  width: 500px;
  max-width: 600px;
  background: #fff;
  border-radius: 5px;
}

.m-content > header {
  color: #636c72;
  height: 45px;
  background: #f6f7f7;
  border-radius: inherit;
  padding: 12px;
}

.m-content > form {
  padding: 1pc;
}

.m-content > header > button.close {
  color: #2375ab;
  font-size: 25px;
}

.m-content > form button.btn-default {
  background: linear-gradient(to top, #1e8cd4, #61aee1);
  color: #fff;
  font-weight: bold;
}

.m-content > .form-horizontal .control-label {
  font-size: 12px
}
