// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.log-in-out {
  border: 1px solid #ccc;
  opacity: 0.9;
  color: #353F46;
}

div.log-in-out > header {
  color: #353F46;
}

.log-in-out-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  width: 100%;
  height: 100%;
}

.log-in-out-background > img {
  width: 100%;
  height: 100%;
  min-width: 1366px;
  min-height: 768px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.log-in-out ul div.alert {
  padding: 4px 8px;
  position: relative;
  left: -15px;
  top: 12px;
  border: none;
  border-radius: 0%;
  width: 99%;
  margin-bottom: 0px;

}

.log-in-out ul div.alert:first-child {
  padding-top: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.log-in-out ul div.alert:last-child {
  padding-bottom: 8px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
