<h3><%= workspace.escape("title") %></h3>

<div><a href="#"><strong>MY TASKS</strong></a></div>

<div id="my-tasks-container">
</div>

<div id="work-team-container">
</div>

<div id="projects-container">
</div>

<div id="task-show-container">
</div>
