<div id="wrapper">
  <img class="landing-page-img" src="pebbles1.jpg" alt="" />
  <div id="sidebar-wrapper">
    <!-- <div id="workspace-title">
      <%= workspace.escape("title") %>
    </div> -->
    <div class="sidebar-nav">
      <div id="my-tasks-heading">
        <a href="#/workspaces/<%= workspace.id %>">MY TASKS</a>
      </div>

      <div id="work-team-container">
      </div>

      <div id="projects-container">
      </div>
    </div>
  </div>

  <div id="page-content-wrapper">
    <div id="my-tasks-container">
    </div>

    <div id="task-show-container">
    </div>
  </div>
</div>
