<div id="wrapper">
  <img class="landing-page-img" src="pebbles1.jpg" alt="" />
  <div id="sidebar-wrapper">
    <!-- <div id="workspace-title">
      <%= workspace.escape("title") %>
    </div> -->
    <div class="sidebar-nav">
      <div id="my-tasks-heading">
        <a href="#/workspaces/<%= workspace.id %>"
          data-step="1"
          data-intro="This is your workspace homepage. You are currently looking at all tasks assigned to you."
          data-position="right">
          MY TASKS</a>
      </div>

      <div id="work-team-container"
           data-step="2"
           data-intro="You can add or remove people from this workspace by clicking on the pencil. You can also see all tasks assigned to other team members by clicking on circles with their initials."
           data-position="right">
      </div>

      <div id="projects-container"
           data-step="3"
           data-intro="Add new projects by clicking on the plus sign or visit one of the existing projects by clicking on the project name."
           data-position="right">
      </div>
    </div>
  </div>

  <div id="page-content-wrapper" class="sidebar-toggled"
      data-step="4"
      data-intro="Listed above are all the tasks for current project. Click on any task title to edit it or create a new task by clicking on the 'Create a New Task' button. Also, feel free to change the due date or assignee by clicking on them."
      data-position="bottom">

    <div id="end-tour"
         data-step="5"
         data-intro="Click on the workspace title above to change workspace or logout. You're all set. Thanks for checking out my project! Now, go ahead and explore TmUp!!!"
         data-position="left"></div>

    <div id="tasks-index-container"></div>

    <div id="task-show-container"></div>
  </div>
</div>
